.icon-sprite {
  font-size: 4em;
}

.hero-icon {
  color: #FFFFFF;
  margin-top: 18px;
  padding: 5px;
}

.hero-icon:hover {
  color: #EF4035;
}

.port-button-space {
  margin-left: 5px;
}

.footer-icon {
  color: #FFFFFF;
}

.footer-icon:hover {
  color: #EF4035;
}

.cta-quote.footer-quote {
  background-color: #101010;
}

.footer-content {
  padding: 50px 0;
}

.bold {
font-weight: bold;
}
